<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
  <link href="../static/css/bootstrap.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
<title>Find your Podcast</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Find your dream podcast!</h1>
    </div>
  </div>

<h1>Hi! Welcome to the Podcast Finder! Just answer a few questions below and we'll suggest you the ideal podcast fitting your passions and current mood.Enjoy!</h1>
<button id="button"><a href="../templates/index3.html"> Let's start</a></button>

<div class="container" id="overtext">
<img src="../static/images/cover_image.jpg" width="800px" max-width="100%" height="auto">
<h1>Wanna stay in touch?</h2>


<div class="page" id="center">
  <div class="page__demo">
    <label class="field a-field a-field_a1 page__field">
      <input class="field__input a-field__input" placeholder="e.g. David" required>
      <span class="a-field__label-wrap">
        <span class="a-field__label">First name</span>
      </span>
    </label>
    <label class="field a-field a-field_a2 page__field">
      <input class="field__input a-field__input" placeholder="e.g. Hockney" required>
      <span class="a-field__label-wrap">
        <span class="a-field__label">Last name</span>
      </span>
    </label>
    <form method="post" action="/signup">
      <label for="email" class="field a-field a-field_a3 page__field">
      <input type="email" class="field__input a-field__input" name="email" placeholder="e.g. davidhockney@gmail.com" required="required">
      <span class="a-field__label-wrap">
      <span class="a-field__label">E-mail</span>
      </span>
    </label>
    <input type="submit" value="Submit" id="submitbutton">
  </form>

  </div>
</div>
</div>



<h2>Hi! Welcome to the Podcast Finder! Just answer a few questions below and we'll suggest you the ideal podcast fitting your passions and current mood. Enjoy!</h2>


</body>








</html>
